# default reviewers
*                 @greenbone/gea @mattmundell

# dev ops
.github/          @greenbone/devops @greenbone/gea @mattmundell
.docker/          @greenbone/devops @greenbone/gea @mattmundell
